@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyPersonalDiary</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyPersonalDiary.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <main role="main" id="main" class="d-flex justify-content-center align-items-center">
        <div class ="container mx-auto col-md-12 col-lg-10 d-flex justify-content-center align-items-center">
            <!-- Помилки -->
            @if (ViewBag.ValidationErrors != null)
            {
                <div class="alert alert-danger">
                    <h4>Помилки валідації:</h4>
                    <ul>
                        @foreach (var error in ViewBag.ValidationErrors)
                        {
                            <li>@error</li>
                        }
                    </ul>
                </div>
            }
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">
                    <h4>Повідомлення:</h4>
                    @ViewBag.Message
                </div>
            }
            @RenderBody()
        </div>
    </main>

    <footer class="text-muted">
        <div class="container text-center">
            &copy; 2024 - Мій особистий щоденник            
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
