@{
    ViewData["Title"] = "Not Found";
}

<div class="text-center">
    <h1>404 - Сторінку не знайдено</h1>
    <a asp-controller="Home" asp-action="Index">Повернутись на головну сторінку</a>
</div>
