@model MyPersonalDiary.Models.Post

@{
    ViewData["Title"] = "Редагування посту";
}

<h1>Редагування посту</h1>

<hr />
<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Content" class="control-label">Вміст</label>
        <textarea asp-for="Content" class="form-control no-enter" maxlength="500" rows="4"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group mt-2 row">
        @if (!string.IsNullOrEmpty(Model.ImagePath))
        {
            <div class="col-auto">
                <img src="@Url.Content("~/")uploads/@Model.ImagePath" class="img-preview pt-1" />
            </div>
        }
        <div class="col">
            <label asp-for="ImagePath" class="control-label">Картинка</label>
            <input asp-for="ImagePath" class="form-control" type="file" />
            <span asp-validation-for="ImagePath" class="text-danger"></span>
            <div class="form-group text-end mt-2">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
