@{
    ViewData["Title"] = "Політика конфіденційності";
}
<h1>@ViewData["Title"]</h1>

<p>
    Ласкаво просимо в додаток "Мій особистий щоденник". Наша компанія зобов'язується забезпечити
    конфіденційність та безпеку ваших особистих даних. Ця Політика конфіденційності пояснює, як ми збираємо,
    використовуємо та захищаємо вашу інформацію під час використання додатку "Мій особистий щоденник".
</p>

<h3>Особиста Інформація</h3>

<p>
    Ми можемо збирати особисту інформацію, яку ви нам надаєте, таку як ім'я, адреса електронної пошти
    та інша контактна інформація. Ця інформація використовується для забезпечення доступу до функцій
    додатку та для зв'язку з вами щодо важливих оголошень та оновлень.
</p>

<h3>Захист Даних</h3>

<p>
    Ми вживаємо заходів безпеки для захисту вашої особистої інформації від втрати, зловживання та несанкціонованого доступу. Ми використовуємо технічні та організаційні заходи для забезпечення найвищого рівня захисту.
</p>

<p>
    Дякуємо за використання додатку "Мій особистий щоденник"!
</p>
