@model MyPersonalDiary.Models.User
@{
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}

<div>
    <h2>Видалення акаунту</h2>

    <form asp-action="CancelDelete" method="post">
        @Html.AntiForgeryToken()

        <div>
            <p>Ваш акаунт буде видалено (@Model.DeleteAt)</p>
            <button type="submit" class="btn btn-danger">Скасувати видалення</button>
        </div>
    </form>
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="btn btn-link">Вийти з акаунту</button>
    </form>
</div>
